[submodule "kickstart-modular.nvim"]
	path = nvim/.config/nvim
	url = git@github.com:eliucid8/kickstart-modular.nvim.git
[submodule "tpm"]
	path = tmux/.config/tmux/plugins/tpm 
	url = https://github.com/tmux-plugins/tpm.git
